.git
.gradle
.gradle-cache
.gradle-ms-cache
.idea
build
**/build
**/.gradle
**/out
src
docs
Project__Microservices_Milestone__Part_1.pdf
*.iml
!api-gateway/build/
!api-gateway/build/libs/
!api-gateway/build/libs/*.jar
!member-service/build/
!member-service/build/libs/
!member-service/build/libs/*.jar
!catalog-service/build/
!catalog-service/build/libs/
!catalog-service/build/libs/*.jar
!borrowing-service/build/
!borrowing-service/build/libs/
!borrowing-service/build/libs/*.jar
!library-orchestrator/build/
!library-orchestrator/build/libs/
!library-orchestrator/build/libs/*.jar
